<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
  <link rel="stylesheet" href="./normalize.css" />
  <link rel="stylesheet" href="./style.css" />
</head>
<body>
  <div class="wrapper">
    <div class="wrapper-inner">
      <div class="profile-pic">
        <img src="{profilePhoto}" alt="Profile Pic" />
      </div>
      <h2>Hello, I'm {myName}!</h2>
      <h4>{designation}</h4>
      <div class="social">
        {social}
      </div>
    </div>
  </div>
</body>
</html>